.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__text {
    padding: 0;
    margin: auto;
}

.message__user {
    margin-left: auto;
    color: rgb(2, 2, 2);
    text-align: right !important;
}

.message__userCard {
    background-color: #0b81ff !important;
    border-radius: 45px 0 45px 45px !important;
}

.message__guestCard {
    border-radius: 0 45px 45px 45px !important;
    background: linear-gradient(245deg, rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%) !important;
}

.message__date {
    display: flex;
    font-weight: 600;
    justify-content: left;
    font-size: x-small;
    color: rgb(102, 100, 100);
}