.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgb(255, 143, 178) 0%,
    rgb(167, 151, 255) 50%,
    rgb(0, 229, 255) 100%
  ) !important;
  min-height: 100vh;
  z-index: -1;
}

.register__card {
  max-width: 450px;
}

@media (max-width: 28.75em) {
  .register__card {
    max-width: 300px;
  }
}
